.counterBox {
    display: flex;
    flex-direction: column;
  }
  
  .counterText {
    color: #fff; 
    font-variant-numeric: lining-nums proportional-nums;
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 6px;
  }
  
  .counterBlock {
    display: flex;
    margin-top: 6px;
    justify-content: space-evenly;
  }
  
  .counter {
    width: 16px;
    height: 16px;
    background-color: #7ac100;
    border-radius: 50%;
    display: flex;
  }

  .counter_failed {
    background-color: #9C0707;
  }